/* College of L&S innner Layouts */

/* Three column equal layout for no spotlight */
div#3col_left_column {
	float:left;
	width: 206px;
	padding: 1px 0px;}

div#3col_center_column {
	float:left;
	width: 206px;
	padding: 1px;}

div#3col_right_column {
	float:left;
	width: 206px;
	padding: 1px 0px;}
	
/* Two Column equal Layout for no spotlight, */

div#2col_left_column_equal {
	float:left;
	width: 308px;
	padding: 1px;}
	
div#2col_right_column_equal {
	float:right;
	width: 308px;
	padding: 1px;}
	
div.2col_left_column_equal {
	float:left;
	width: 308px;
	text-align:left;
	padding: 1px;}
	
div.2col_right_column_equal {
	float:right;
	text-align:left;
	width: 308px;
	padding: 1px;}

/* Two Column small left for no spotlight, */

div#2col_left_column_light {
	float:left;
	width: 168px;
	background:#fff;
	padding: 1px;}
	
div#2col_right_column_heavy {
	float:right;
	width: 452px;
	background:#fff;
	padding: 1px;}
	
/* Two Column small right for no spotlight, */

div#2col_left_column_heavy {
	float:left;
	width: 450px;
	background:#fff;
	padding: 1px;}
	
div#2col_right_column_light {
	float:right;
	width: 166px;
	background:#fff;
	padding: 1px;}
	

/* Three column equal layout for spotlight */
div#3col_left_column_sp {
	float:left;
	width: 150px;
	background:#fff;
	padding: 1px 0px;}

div#3col_center_column_sp {
	float:left;
	width: 150px;
	background:#fff;
	padding: 1px;}

div#3col_right_column_sp {
	float:left;
	width: 150px;
	background:#fff;
	padding: 1px 0px;}
	
/* Two Column equal Layout for no spotlight, */

div#2col_left_column_equal_sp {
	float:left;
	width: 224px;
	background:#fff;
	padding: 1px;}
	
div#2col_right_column_equal_sp {
	float:right;
	width: 224px;
	background:#fff;
	padding: 1px;}

/* Two Column small left for no spotlight, */

div#2col_left_column_light_sp {
	float:left;
	width: 150px;
	background:#fff;
	padding: 1px;}
	
div#2col_right_column_heavy_sp {
	float:right;
	width: 298px;
	background:#fff;
	padding: 1px;}
	
/* Two Column small right for no spotlight, */

div#2col_left_column_heavy_sp {
	float:left;
	width: 298px;
	background:#fff;
	padding: 1px;}
	
div#2col_right_column_light_sp {
	float:right;
	width: 150px;
	background:#fff;
	padding: 1px;}

	